<h2> Welcome to Nowhere! </h2>

<p>Enter Your 4-Digit Game Code</p>
<input #gameCode (keyup)="setGameCode(gameCode.value)">

<p>Enter Your Player Name!</p>
<input #playerName (keyup)="setPlayerName(playerName.value)"><br>

<button (click)="joinGame(player.name, gameCode)">Join Game</button>

<tr *ngFor="let session of gameSessions">
    <td>{{ session.payload.doc.data().code }}</td>
    <!-- <td>{{ order.payload.doc.data().customerName }}</td> -->
    <!-- <td><span 
         *ngFor="let coffee of order.payload.doc.data().coffeeOrder">
        {{ coffee }}
       </span>
    </td> -->
 </tr>
 