/* You can add global styles to this file, and also import other style files */
html {background-color: black;}

h2 {
    color: coral;
}

h2 {
    color: coral;
}

div {
    color: coral;
}

button {
    color: black;
    background-color: coral; 
}